@model Employee
@{
    ViewData["title"] = "Create Employee";
}

<h2>new Employee Form</h2>
<hr color="blue" />

<form method="post">
    <div style="padding:5px;">
        <div>
            <label asp-for="name">Employee name:</label>
            <input asp-for="name"/>
        </div>

        <div>
            <label asp-for="age">Employee age:</label>
            <input asp-for="age" />
        </div>

        <div>
            <label asp-for="salary">Employee salary:</label>
            <input asp-for="salary" />
        </div>
       


        <div>
            <label asp-for="department">Employee department:</label>
            <select asp-for="department" >
               <option value="Development">Development</option>
               <option value="HR">HR</option>
               <option value="Engineering">Engineering</option>
             </select>

        </div>
        <div>
            <label asp-for="gender">gender</label>
            <input type="radio" asp-for="gender" value="M"/>Male
            <input type="radio" asp-for="gender" value="F" />Female
        </div>
        <div>
            <button type="submit">Add Employee</button>
        </div>

    </div>

</form>
